p{
    color: rgb(16, 16, 44); 
    background:rgb(253, 253, 253);
    font: size 100px;
}


main {
    background-color: rgb(255, 210, 187);
    padding: 10px;
    border: 2px solid rgb(217, 93, 93);

    font-family: Verdana, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }

  .classEnrol { width: 1000px; }
  
  .Feedback { width: 450px; }
  
  .Centered { text-align: center; }
  
  
  body {
    margin: 0;
    padding: 0;
  }

  header {
    background:rgb(7, 7, 7);
    height: 80px;
  }

  h1 {
    text-align: center;
    color: white;
    line-height: 80px;
    margin: 0;
  }

  article {
    padding: 20px;
    margin: 20px;
    background:red
  }

 
  section {
    display: flex;
  }

  article {
    flex: 1 200px;
  }

  article:nth-of-type(3) {
    flex: 3 180px;
    display: flex;
    flex-flow: column;
  }


  /*dropdown*/
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* light dark mode */
  #mode-toggle {
    background-color: #fff; /* Light mode background color */
    color: #000; /* Light mode text color */
    border: 2px solid #000; /* Button border */
    padding: 10px 20px; /* Button padding */
    font-size: 16px; /* Button font size */
    cursor: pointer; /* Cursor style */
  }

  .light-mode {
    background-color: #fff; /* Light mode background color */
    color: #000; /* Light mode text color */
  }

  .dark-mode {
    background-color: #000; /* Dark mode background color */
    color: #fff; /* Dark mode text color */
  } 

 